name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  login-build-push-docker:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login In Docker Using Token
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN_ID }}

      #       Setup Nodejs
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 20
  
      - name: Build and Push Docker Images [ Frontend ]
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/todo-app-frontend:latest

      - name: Build and Push Docker Images [ Backend ]
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/todo-app-backend:latest

  deploy-to-ec2:
    needs: login-build-push-docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Wait for EC2 Initialization
        run: sleep 15

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.EC2_USER }}
          username: ubuntu
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            mkdir -p /home/ubuntu/project1
            mkdir -p /home/ubuntu/project1/frontend
            sudo chown ubuntu:ubuntu /home/ubuntu/project1
            sudo chown ubuntu:ubuntu /home/ubuntu/project1/frontend

      - name: Create .env File
        run: |
          echo ${{ secrets.ENV_ROOT }} >> .env
          echo ${{ secrets.ENV_FRONTEND }} >> ./frontend/.env

      - name: Copy Files to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_USER }}
          username: ubuntu
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "docker-compose.yml,nginx/default.conf,.env,frontend/.env"
          target: "/home/ubuntu/project1"

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.EC2_USER }}
          username: ubuntu
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/project1
            docker compose down || true
            docker compose pull
            docker compose up -d
            docker image prune -f
